[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
sklearn = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
